@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Arial", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2200px);
  }
}

.carousel {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  /* Duration of the scroll */
  animation: scroll 20s linear infinite;
}

.carousel:hover {
  /* Pauses the animation when hovered */
  animation-play-state: paused;
}
.scrollbar-thin {
  scrollbar-width: thin;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2, h3 {
  color: #2d3748;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  color: #4a5568;
}
